@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.board {
  display: grid;
  height: 600px;
  width: 600px;
  border: 4px solid;
  border-radius: 5px;
}

.container {
  display: grid;
  justify-content: center;
}

body {
  background-color:azure;
}

button {
  border-radius: 10px;
  color:brown;
}

button:hover {
  background-color:lightgray;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

h1 {
  display: grid;
  justify-content: center;
  font-family: 'Courgette', cursive;
  color: brown;
  border-style: solid;
}

.buttons {
  display: flex;
  justify-content: center;
}

.setsize {
  display: grid;
  flex-direction: column;
  justify-content: center;
  padding: 5px;

}
